params.threads = 16
params.ref_gen_idx_dir = "/camp/svc/reference/Genomics/babs/homo_sapiens/ensembl/GRCh38/release-95/genome_idx/star/75bp"
params.ref_gen = "/camp/svc/reference/Genomics/babs/homo_sapiens/ensembl/GRCh38/release-95/genome/Homo_sapiens.GRCh38.dna_sm.primary_assembly.fa"
params.gtf = "/camp/svc/reference/Genomics/babs/homo_sapiens/ensembl/GRCh38/release-95/gtf/Homo_sapiens.GRCh38.95.gtf"
params.rnaseqc_gtf = "/camp/svc/www/ciccarellif/reference_files/GDC/reference_files/gtf/gencode.v22.annotation.RNA-SeQC.gtf"

process {

  executor='slurm'
  queue='compute'

  withLabel: 'parallel' {
    clusterOptions = "--ntasks=1 --cpus-per-task=${params.threads} --mem=150G"
  }

  withName: 'rawReadCount' {
    clusterOptions = "--ntasks=1 --cpus-per-task=4 --mem=100G"
  }

  withName: 'FPKM_TPM' {
    clusterOptions = "--ntasks=1 --cpus-per-task=1 --mem=16G"
  }

  withName: 'RNASeQC' {
    clusterOptions = "--ntasks=1 --cpus-per-task=2 --mem=100G"
  }

}
